{% extends 'layout.twig' %}

{% block body %}
  <script>
    window.__articlesData = JSON.parse('{{ articles|json_encode|e('js') }}');
  </script>

  <h1>Pocket stats</h1>

  <div id="vue-root"></div>
  <canvas id="chart" width="400" height="200"></canvas>
{% endblock %}

{% block scripts %}
  <script src="/build/index.js"></script>
{% endblock %}
