<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/build/bundle.css' />
  </head>
  <body>
    <main class="content">
    {% block body %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
  </body>
</html>
